*{
margin: 0;
padding: 0;
font-size: 16pt;
box-sizing: border-box;
font-family: Arial,Verdana,sans-serif;
}

h2{
  color:  #344244;
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
}
.navbar a{
text-decoration: none;
color: #ffffff;
opacity: 0.9;
font-size: 12pt;
}
.navbar a:hover{
  opacity: 1;
}
.navbar li{
padding: 10px;
margin-left: 10px;
display: inline-block;
}
.navbar ul {
list-style: none;
}
.navbar nav{
/* background-color: #2a3c49; */
background-color: #232323;
}

footer{
  position: relative;
  /* top: 100%; */
  background-color: #232323;
  color: #ededed;
  text-align: center;
  padding: 5px;
  margin-top: 23%;

}
footer p{
  font-size: 12pt;
  bottom: 0;
}
header{
  position: fixed;
  width: 100%;
  top: 0;
}

.login{
text-align: center;
display: block;
margin: 100px 10px 10px 10px;
box-shadow: 2px 2px 3px #afaaaa;
}
.login:hover{
  box-shadow: 3px 3px 4px #afaaaa;
}
.login h2{
  padding: 20px;
  font-weight: bold;
}
.login p{
  margin-top: 20px;
  font-size: 12pt;
}
.login a{
text-decoration: none;
font-size: 12pt;
color: #4d6da0;
}
.login input{
margin: 10px;
padding: 5px;
border: 0px;
border-bottom: 1px solid black;
}
.login input[type="submit"]{
width: 5em;
background-color: #3c7573;
color: white;
}
.login input[type="submit"]:hover{
opacity: 0.66;
color: white;
}

.register{
text-align: center;
display: block;
margin: 100px 10px 10px 10px;
box-shadow: 2px 2px 3px #afaaaa;
}
.register:hover{
  box-shadow: 3px 3px 4px #afaaaa;
}
.register h2{

  padding: 20px;
  font-weight: bold;
}
.register p{
  margin-top: 20px;
  font-size: 12pt;
}
.register a{
text-decoration: none;
font-size: 12pt;
color: #4d6da0;
}
.register input , .newsite input{
width: 50%;
margin: 10px;
padding: 5px;
border: 0px;
border-bottom: 1px solid black;
}
.register input[type="submit"],.newsite input[type="submit"] {
width: 5em;
background-color: #3c7573;
color: white;
}
.register input[type="submit"]:hover{
opacity: 0.66;
color: white;
}


main h2{
  /* position: relative; */
  top: 100px;
  text-align: center;
}

.list{
  display: block;
  margin: 100px 10px 10px 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 3px #afaaaa;
}
.list:hover{
  box-shadow: 3px 3px 4px #afaaaa;
}
.list input{
  width: 50%;
  padding:inherit;
  margin: 10px;
  border: 0px;
  border-bottom: 1px solid black;
}
.list input[type="submit"]{
  width: 10%;
  background-color: #3c7573;
  color: white;
  padding: 5px;
  border-radius: 26px;
}
.list input[type="submit"]:hover{
  opacity: 0.66;
  color: white;
}
.list input[type="search"]{
  width: 40%;
  padding: 4px;
  border-bottom: 1px solid #8595af;
}

#searchbtn{
  width: 5%;
  background-color: #3c7573;
  font-size: 12pt;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: 0px;
}
.list input[type="search"]:focus{
  box-shadow: 2px 2px 3px #8595af;
  border: 0px;
}

.features, .needof{
  padding: 10px;
  margin-top: 180px;
}
.features, .needof ul{
  text-align: left;
  list-style-position: inside;
  font-stretch: expanded;
}

.features, .needof li{
  font-weight: 50;
  line-height: 2;
}
.features h4{
  font-size: 18pt;
  font-weight: 510;
  font-stretch: expanded;
}
.needof h4{
  font-size: 18pt;
  font-weight: 510;
  font-stretch: expanded;
}
.title{
  margin-top: 46px;
  padding: 0;
}
.title h1{
  font-size: 24pt;
  text-align: center;
  font-stretch: expanded;
}
.title h3{
  text-align: center;
  font-weight: lighter;
  font-stretch: normal;
}
.home{
  height: 100%;
  background-image: url("../images/image3.jpg");
  background-size: contain;
  font-stretch: expanded;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.homecontent{
  color: #fcfdff;
  text-shadow: 1px 1px 2px black;
  z-index: 9;
}

main div.list div.content{
  margin-top: 20px;
}

@media(max-width:1470px){

  div.features{
    margin-top: 5px;
  }

  div.needof{
    margin-top:120px;
  }

}
@media(max-width:1072px){

  div.features{
    margin-top: 5px;
    background-size:stre
  }

  div.needof{
    margin-top:90px;
  }

}

@media(max-width:500px){
  div.features,div.needof{
    /* position: relative;
    top: 30vh; */
    border:1px solid black;
    background-color: black;
    /* margin-top: 100px; */
  }
  div.features{
    margin-top: 5px;
  }

  div.needof{
    margin-top:120px;
  }
  div.title h3{
    display: none;
  }
  div.title h1{
    padding-top: 20%;
  }
  


}
